html, body {
    margin: 0;
    font-family: 'Karla', sans-serif;
}

/*typography*/

h1, h2, h3{
    text-align: center;
}

h1, h2{
    color: whitesmoke;
    margin: 0;
}

h1{
    font-size: 28px;
}

h2 {
    font-size: 16px;
}

h3{
    margin: 25px;
}

/* layout */

header{
    background-color: rgb(92, 11, 119);
}

.header-inner{
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 370px;
    gap: 15px;
    padding: 10px 0 0 0;
}

.pumpkin-img{
    width: 80px;
}

.controls-container{
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin: 0px auto;
}

/* controls */

.emotion-radios{
    display: flex;
    flex-direction: column;
    border: 4px solid rgb(92, 11, 119);
    border-radius: 5px;
}

.radio{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #bcbcbc;
    padding: 4px 8px;
}

label{
    font-size: 14px;
    padding: 3px;
    width: 100%;
    cursor: pointer;
}

.highlight{
    background-color: #fff0ee;
    color: #bd301d;
    font-weight: bold;
}

.radio:last-child{
    border-bottom: 0;
}

input[type="radio"]{
    cursor: pointer;
}

.gifs-check{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px;
}

.gifs-check-label{
    width: unset;
    margin-right: 5px;
    font-size: 1.5rem;
}

.get-image-btn{
    background-color: rgb(92, 11, 119);
    color: whitesmoke;
    padding: 15px 19px;
    font-size: 24px;
    border: none;
    border-radius: 5px;
    margin-bottom: 8px;
}
input[type= checkbox]{
    width: 2em;
    height: 1.5em;
}

/* modal */

.meme-modal{
    display: none; /*flex when displayed*/
    position: fixed;
    margin: auto;
    top: 80px;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    border: 1px solid #67595e;
    border-radius: 5px;
    width: 420px;
    height: 490px;
    background-color: #fff0ee;
}

.cat-img{
    max-width: 340px;
    max-height: 420px;
    border-radius: 5px;
}

.meme-modal-close-btn{
    position: absolute;
    top: 2%;
    right: 2%;
    background-color: transparent;
    border: 2px solid #555;
    color: #555;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 14px;
}

.meme-modal-close-btn:hover{
    color: white;
    background-color: #bd301d;
    border: 2px solid #bd301d;
}

.highlight{
    background-color: #fff0ee;
    color: #bd301d;
    font-weight: bold;
    accent-color: #bd301d;
}

#emotion{
    font-size: 2.5rem;
}
@media only screen and (min-width: 675px) {
    #emotion{
        font-size: 2.5rem;
    }
  }
.get-image-btn{
    width: 50%;
    margin: 0 auto;
}
input[type=radio] {
    height: 2em;
    width: 2em;

}

